<style type="text/css" media="screen">
	.snippet-form-bottom-buttons {
		margin-left: 5px;
		margin-bottom: 20px;
	}
</style>

<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t("snippets_slug")%>:</td>
    <td><%= f.text_field :slug, {"style" => "width: 745px"} %></td>
  </tr>
  <tr>
		<td colspan="2">
			<%= f.text_area :content %>
		</td>
  </tr>
</table>
